{% extends 'base.html.twig' %}

{% block body %}
    <h1>Master</h1>

    {% if app.user %}
        <p><a href="{{ path('logout') }}">Logout</a></p>

    {% else%}
        <p><a href="{{ path('register') }}">Registrati</a></p>
        <p><a href="{{ path('login') }}">Login</a></p>
    {% endif %}


{% endblock %}
