{% extends 'base.html.twig' %}

{% block body %}
    <h1>Twig - Filtri</h1>

    {{ ['a','b','c']|join(', ')|upper|lower }}
    <hr>
    <br/>
    {% set nome ="AlessioBarnini" %}

    {{ nome|humanize|title }}
    <br/>
    {{ nome }}


{% endblock %}
