{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create User</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create User</button>
    {{ form_end(form) }}

{% endblock %}
